/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  max-width: 100%;
}

body {
  background-color: #0c1524;
  /*border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  position: absolute; 
  left: 0px; 
  right: 0px;
  top: 0px;
  bottom: 0px; */
}


h1 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 300;
  color: #ffffff;
	font-size: 50px;
  text-align: center;
  line-height: 70%;
}


h3 {
  font-family: 'BasicTitleFont';
	font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 50%;
}


@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasicTitleFont';
    src: url('fonts/basictitlefont.ttf');
    font-weight: normal;
    font-style: normal;
}

#ipc-logo {
  width: 360px;
}

#subscribe-button {
  width: 150px;
}

#footer {
  bottom: 0px; 
  right: 5px; 
  color: white; 
  font-family: 'BasicTitleFont';
  font-size: 10px;
  position: absolute;
}

.social-links {
  position: absolute;
  right: 10px;
  top: 10px;
}

.social-links a {
  color: #283060;
}

.panel-default {
  border-color: #BB2026;
}

.panel-default > .panel-heading {
  background-color: #BB2026;
  border-color: #BB2026;
}

.panel-default > .panel-heading:hover {
  background-color: #CE2D43;
  border-color: #CE2D43;
}

.panel-body {
  background-color: rgba(64, 89, 168, 0.8);
  border-color: #4059A8 !important;
  color: #fff;
}

.panel-title {
  color: #0c1524;
  font-family: 'BebasNeue';
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  line-height: 70%;
}


a:hover, .panel-title:hover, .panel-heading:hover, a, .panel-title, .panel-heading {
  text-decoration: none !important
}

.panel-title i {
  font-weight: 200;
  font-size: 18px;
}

