/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  max-width: 100%;
}

body {
  background-color: #0C1524;
  /*border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  position: absolute; 
  left: 0px; 
  right: 0px;
  top: 0px;
  bottom: 0px; */
}


h1 {
  font-family: 'BebasNeue', sans-serif;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  line-height: 70%;

}

h2{
  font-family: 'BebasNeue', sans-serif; 
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}

h3 {
  font-family: 'BasicTitleFont';
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  /*line-height: 50%;*/
}

h4 {
  font-family: 'BasicTitleFont';
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-align: center;
  /*line-height: 50%;*/
}


@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasicTitleFont';
    src: url('fonts/basictitlefont.ttf');
    font-weight: normal;
    font-style: normal;
}

#ipc-logo {
  width: 360px;
}

#subscribe-button {
  width: 150px;
}

#housing-button {
  width: 150px;
}

#footer {
  position: relative;
  bottom: 0px;
  right: 10px;
  text-align: right; 
  color: white; 
  font-family: 'BasicTitleFont';
  font-size: 10px;
}

.social-links {
  position: absolute;
  right: 10px;
  top: 10px;
}

.social-links a {
  color: #283060;
}

.panel-default {
  border-color: #BB2026;
}

.panel-default > .panel-heading {
  background-color: #CC2F42;
  border-color: #CC2F42;
}

.panel-default > .panel-heading:hover {
  background-color: #CE2D43;
  border-color: #CE2D43;
}

.panel-body {
  background-color: #0C1524;
  border-color: #4059A8 !important;
  color: #fff;
}

.panel-title {
  color: #0c1524;
  font-family: 'BebasNeue';
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  line-height: 70%;
}

a:hover, .panel-title:hover, .panel-heading:hover, a, .panel-title, .panel-heading {
  text-decoration: none !important
}

.panel-title i {
  font-weight: 200;
  font-size: 18px;
}

#about {
  background-image: url('./Images/triangles.svg');
  min-height: 65vh;
  background-repeat: no-repeat;
  background-position: center middle;
  margin-top: 100px;
    
}

#speaker {
  background-image: url('./Images/triangles2.svg');
  min-height: 65vh;
  background-repeat: no-repeat;
  background-position: center middle;
}


#schedule {
  background-image: url('./Images/squares.svg');
  min-height: 85vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 150px;
  

}

#breakout {
  background-image: url('./Images/triangles2.svg');
  min-height: 60vh;
  background-repeat: no-repeat;
  background-position: center middle;
  margin-top: 30px;
}

#faq {
  background-image: url('./Images/triangles.svg');
  min-height: 70vh;
  background-repeat: no-repeat;
  background-position: center middle;
  margin-top: 100px;
}


#sponsor {
    background-color: white;
}

table {
    font-size: 18px;
    font-family: 'BasicTitleFont';
    color: white;
    text-align: center;
    float: left;
}

.speaker-name {
  text-align: center;
}


.img-circle {
  box-shadow: 10px 10px 0px rgba(256, 256, 256, 0.1);
}

.home-btn {
  background: #CE2D43;
  border-radius: 25px;
  border: 0px;
  padding: 7px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.home-btn:hover {
  background: #BC2026;
}

.home-btn > span {
  color: #0B1423;
  font-family: 'BebasNeue', sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 80%;
}

.btn-speaker {
  background: none;
  border: 0px;
}

.btn-primary{
    background: none;
}

.btn-primary:hover{
    background: none;
}

.btn-primary.outline {
    border: 0px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.modal-body{
    background: #0C1524;
    color: #FFF;    
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 2px !important;
    border-color: #0C1524;
}

.modal-header{
    background: #0C1524;
    color: #FFF;
}

.modal-footer{
    background: #0C1524;
    color: #FFF;    
}